@keyframes animation-right-arrow {
  to {
    transform: translate(4px);
  }
}

@keyframes animation-heart {
  to {
    transform: scale(1.5);
  }
}

@keyframes animation-sparks {
  to {
    opacity: 1;
  }
}

.like-icon {
  transform-origin: center;
}

.like-icon .contour {
  fill: var(--color-heart-contour);
  transition: fill 0.1s linear;
}

.like-icon .main-body {
  fill: var(--color-heart-unfilled);
  transition: fill 0.3s linear;
}

.like-icon .core {
  fill: var(--color-heart-unfilled);
  transition: fill 0.3s linear 0.03s;
}

.like-icon .sparks {
  opacity: 0;
}

.like-icon:hover .main-body {
  fill: var(--color-heart-contour);
  transition: fill 0.3s linear 0.05s;
}
.like-icon:active .main-body {
  fill: var(--color-heart-filled);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:hover .core {
  fill: var(--color-heart-contour);
  transition: fill 0.3s linear;
}
.like-icon:active .core {
  fill: var(--color-heart-filled);
  transition: fill 0.3s linear;
}

.like-icon.is-liked {
  fill: var(--color-heart-filled);
  animation: animation-heart 0.3s ease-in 0.1s 1 alternate;
}

.like-icon.is-liked .contour {
  fill: var(--color-heart-filled);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .main-body {
  fill: var(--color-heart-filled);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--color-heart-filled);
  transition: fill 0.3s linear;
} 

.like-icon.is-liked .sparks {
  fill: var(--color-heart-filled);
  animation: animation-sparks 0.3s ease-in 0.3s 1 alternate;
}
