:root.theme-dark {
    --color-primary: #00CC14;
    --color-secondary: #000000;
    --color-button-text: var(--color-primary);
    --backdrop: #111111;
    --font-weight-normal: 465;
    --font-weight-bold: 785;
    --gradient-background: #000000;
    --gradient-color-primary: #007f0c;
    --gradient-color-secondary: #004306;
    --color-heart-contour: var(--color-primary);
    --color-heart-unfilled: var(--color-secondary);
}

:root.theme-light {
    --color-primary: #000000;
    --color-secondary: #FFFFFF;
    --color-button-text: var(--color-secondary);
    --backdrop: #111111;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    --gradient-background: #e7e7e7;
    --gradient-color-primary: #e7e7e7;
    --gradient-color-secondary: #1a1a1a;
    --color-heart-contour: var(--color-primary);
    --color-heart-unfilled: var(--color-secondary);
}

@media (prefers-color-scheme: light) {
    :root {
        --color-primary: #000000;
        --color-secondary: #FFFFFF;
        --color-button-text: var(--color-secondary);
        --backdrop: #111111;
        --font-weight-normal: 400;
        --font-weight-bold: 700;
        --gradient-background: #e7e7e7;
        --gradient-color-primary: #e7e7e7;
        --gradient-color-secondary: #1a1a1a;
        --color-heart-contour: var(--color-primary);
        --color-heart-unfilled: var(--color-secondary);
  }
}
